<strong>Hello, {{ organizer }}</strong>
<p>There's a new subscription to your meetup called {{ meetup }}</p>
<p>
  <strong>User: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <br />
</p>
